@model BeerXML.Models.RecipeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<h3 class="ui header">New Recipe</h3>
<form class="" method="post" asp-action="Index" asp-controller="NewItem">
    <div class="row">
        <div class="col s12 no-padding">
            <ul class="tabs z-depth-1">
                <li class="tab col s1"><a href="#tab1">Recipe</a></li>
                <li class="tab col s1"><a href="#tab2">Hops</a></li>
                <li class="tab col s1"><a href="#tab3">Fermentables</a></li>
                <li class="tab col s1"><a href="#tab4">Waters</a></li>
                <li class="tab col s1"><a href="#tab5">Miscs</a></li>
                <li class="tab col s1"><a href="#tab6">Equipment</a></li>
                <li class="tab col s1"><a href="#tab7">Style</a></li>
                <li class="tab col s1"><a href="#tab8">Yeasts</a></li>
                <li class="tab col s1"><a href="#tab9">Mash</a></li>
            </ul>
        </div>
        
    </div>
    <div class="row">
        <div class="col s12 z-depth-1">
            <div id="tab1" class="">
                @Html.EditorFor(m => m.Recipe)
            </div>
            <div id="tab2" class="">
                @Html.EditorFor(m => m.Hop)
            </div>
            <div id="tab3" class="">
                @Html.EditorFor(m => m.Fermentable)
            </div>
            <div id="tab4" class="">
                @Html.EditorFor(m => m.Water)
            </div>
            <div id="tab5" class="">
                @Html.EditorFor(m => m.Misc)
            </div>
            <div id="tab6" class="">
                @Html.EditorFor(m => m.Equipment)
            </div>
            <div id="tab7" class="">
                @Html.EditorFor(m => m.Style)
            </div>
            <div id="tab8" class="">
                @Html.EditorFor(m => m.Yeast)
            </div>
            <div id="tab9" class="">
                @Html.EditorFor(m => m.Mash)
            </div>
            <div class="row right-align">
                <div class="col m3 s12 offset-m9">
                    <button class="waves-effect waves-light btn tab-prev" type="button">
                        previous
                    </button>
                    <button class="waves-effect waves-light btn tab-next" type="button">
                        next
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row right-align">
        <button class="waves-effect waves-light btn" type="submit">
            <i class="material-icons left">send</i>
            Submit
        </button>
    </div>
</form>

